<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" internalLogLevel="Error"
	  internalLogFile="internalLog.txt"
	  internalLogToConsole="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target name="EvaluationSystem" xsi:type="Database"
		  dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
		  connectionString="Data Source=.;Initial Catalog=EvaluationSystem; Integrated Security=True; MultipleActiveResultSets=True;">
			<commandtext>INSERT INTO NlogsErrors VALUES(@date, @lvl, @msg)</commandtext>
			<parameter name="@date" layout="${date}" dbType="SqlDbType.DateTime" />
			<parameter name="@lvl" layout="${level}" dbType="DbType.Int32" />
			<parameter name="@msg" layout="${message}" dbType="SqlDbType.VarChar" size="1024" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" maxLevel="Error" final="true" />
		<logger name="*" minlevel="Error" writeTo="EvaluationSystem" />

	</rules>
</nlog>
